@model IEnumerable<TDSTecnologia.FaceAlbum.Web.Models.Album>

@{
    ViewData["Title"] = "Albuns";
}

<div class="listaDestinos">
    <div class="container">
        <p>
            <a asp-action="Novo" class="btn btn-sm btn-success">
                <i class="fas fa-plus fa-lg"></i> Novo album
            </a>
        </p>
        <table class="table striped highlight hover responsive-table">
            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        <td>
                            <a asp-action="Alterar" asp-route-id="@item.AlbumId" class="btn btn-sm btn-warning">Atualizar</a> |
                            <a asp-action="Detalhes" asp-route-id="@item.AlbumId" class="btn btn-sm btn-primary">Fotos</a> |
                            <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-excluir" onclick="Excluir(@item.AlbumId)">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-excluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Após a exclusão não será possível recuperar o registro
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btnConfirmar">Confimar Exclusão</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Excluir(AlbumId) {
        $(".modal").modal();
        $(".btnConfirmar").on('click', function () {
            $.ajax({
                url: '/Album/Excluir',
                type: 'POST',
                data: { AlbumId: AlbumId },
                success: function () {
                    location.reload();
                    $(".modal").modal('close');
                }
            })
        });
    }
</script>